* {
    margin: 0;
    padding: 0;
}


/*                 */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
    display: block;
}


/* head */

header {
    position: relative;
    height: 100vh;
    background-attachment: fixed;
    background-color: chartreuse;
    background-position: center;
}

.sticky {
    position: fixed;
    z-index: 200;
    width: 100%;
    top: 0;
    left: 0;
}

header nav {
    background-color: burlywood;
    height: 100px;
}

header a .logo {
    background: none;
    width: 100px;
    float: left;
    padding: 0 auto;
    margin-top: 10px;
    margin-left: 5px;
}

.nav.menu {
    float: right;
    margin-right: 30px;
    margin-top: 25px;
    padding: 0 auto;
}

.nav.menu a {
    margin: 10px;
}


/* .quick.search {
    position: absolute;
    top: 0px;
    background-color: green;
    width: 80%;
    margin-left: 10%;
    height: 50px;
} */

.tab {
    position: absolute;
    bottom: 100px;
    overflow: hidden;
    background-color: #f1f1f1;
    width: 80%;
    margin-left: 10%;
    height: 50px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabContent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.quick.search .row * {
    display: inline-block;
}


/* quick action*/

.quick.action {
    height: 100px;
}