* {
    margin: 0;
    padding: 0;
}


/*                 */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
    /* background-color: gold; */
    display: block;
}


/* head */

header {
    position: relative;
    height: 100vh;
    background-attachment: fixed;
    background-color: chartreuse;
    background-position: center;
}

.sticky {
    position: fixed;
    z-index: 200;
    width: 100%;
    top: 0;
    left: 0;
}

header nav {
    background-color: burlywood;
    height: 100px;
}

header a .logo {
    background: none;
    width: 100px;
    float: left;
    padding: 0 auto;
    margin-top: 10px;
    margin-left: 5px;
}

.nav.menu {
    float: right;
    margin-right: 30px;
    margin-top: 25px;
    padding: 0 auto;
}

.nav.menu a {
    margin: 10px;
}

.quick.search {
    position: absolute;
    bottom: 0px;
    background-color: green;
    width: 100%;
}

.quick.search .row .col.span_3_of_8 {
    display: flex;
}


/* quick action*/

.quick.action {
    height: 100px;
}